* {
    background-color: pink;
    color:white;
}
.div {
    height: 20%;
    text-align: center;
    border-radius: 50%;
}
.header {
    text-align: center;
    margin: 10%;
}
.footer {
    text-align: center;
    color:white;
    background-color: black;
    padding:30px;
    border-radius: 15px;
}

/*
